body{
  font-family: Helvetica;
  color: white;
  text-align: center;
}

.header{
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
background-position: center;
}

.header h2{
  font-size: 32px;
}

h1{
  font-family: Helvetica;
  font-size: 70px;
  color: white;
  font-weight: bold;
  text-align: center;
}

p .nav{
  font-family: Helvetica;
  font-size: 28px;
  color: white;
}

.process{
  color: black;
}

.process h2{
  font-family: Helvetica;
  color: black;
  font-size: 32px;
  weight: bold;
}

.process h3{
  font-family: Helvetica;
  color: black;
  font-size: 23px;
  font-weight: bold;
}
.process p{
  font-family: Helvetica;
  font-size: 14px;
  color: black;
}
